.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
